body {font-family: Arial, sans-serif; font-size: 25px; margin-bottom: 20px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9;}
.items {border: 2px solid #140e0e; padding: 10px; margin-bottom: 10px;border-radius: 20px; background-color: #fafafa;}
.items:hover {border-color : #5bd461;background-color: #e7e4e4;}
.avatar {width: 70px; height: 70px; border-radius: 50%; margin-right: 10px; padding: 5px;}
.image {width: 100%; height: auto; border-radius: 10px; margin-top: 10px;}
.image-zalo {width: 30%; height: auto; border-radius: 10px; margin-top: 10px; align-self: center; display: block; margin-left: auto; margin-right: auto;}
.link {color: #007bff; text-decoration: none; margin-right: 10px;}
button {width: 95%; background-color: #ff9100; color: white; border: none; padding: 15px 25px; border-radius: 10px; cursor: pointer;align-self: center; display: block; margin-left: auto; margin-right: auto;font-size: 25px; }
button:hover {background-color: #f16406;}
.name {font-weight: bold; margin-bottom: 5px;}
.info {display: flex; align-items: center; margin-bottom: 10px;}